@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #000000;
    --background: #ffffff;
    --primary: #14223e;
    --secondary: #e0e0e0;
    --accent: #ed9302;
    --text-opacity: #808080;
    --chart-color-1: #1f77b4;
    --chart-color-2: #ff7f0e;
    --chart-color-3: #2ca02c;
    --chart-color-4: #d62728;
  }

  .dark {
    --text: #ffffff;
    --background: #000000;
    --primary: #c1cfeb;
    --secondary: #1f1f1f;
    --accent: #fda312;
    --text-opacity: #c0c0c0;
    --chart-color-1: #6baed6;
    --chart-color-2: #ffa54f;
    --chart-color-3: #74c476;
    --chart-color-4: #e74c3c;
  }
}

.bg-glass {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
}
