@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #000000;
    --background: #ffffff;
    --primary: #14223e;
    --secondary: #e0e0e0;
    --accent: #ed9302;
  }

  .dark {
    --text: #ffffff;
    --background: #000000;
    --primary: #c1cfeb;
    --secondary: #1f1f1f;
    --accent: #fda312;
  }
}

.bg-glass {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
}
